.cardProducto {
    background-color: #35bafcc4;
    border-radius: 15px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
}

.btnProducto {
    background-color: #161a57;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    text-align: center;
}

.nombreProd {
    color: #161a57;
    text-align: center;
}

.precioProd {
    color: white;
    font-weight: bolder;
}